@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #1f2937;
    font-size: 14px;
}

/* Background	Soft White	#F8FAFC
Card Background	Pure White	#FFFFFF
Primary Color	Modern Blue	#2563EB
Accent / Sale	Orange	#F59E0B
Text Primary	Dark Gray	#1f2937
Text Secondary	Gray	#64748B
Border	Light Gray	#E5E7EB */
/* Border Color #E2E8F0 */
/* Orange #EB6325 */
/* Grey #e4e4f56c */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
    color: #484a4c;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1180px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 510px) {
    .cart_items_label {
        display: none;
    }
    .cart_items {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .cart_items .image_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cart_items .image_container h3 {
        max-width: 230px;
        font-size: 14px;
    }
    .cart_items .cross_icon img {
        margin-right: 0;
        display: flex;
        justify-content: center;
        width: fit-content;
    }
    .add_product_color {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 450px) {
    .admin_products_label {
        display: none;
    }
    .product_list{
        display: flex;
        flex-direction: column;
        padding: 16px;
    }
    .product_list .main_img {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .product_list .main_img img {
        width: 100%;
        max-width: 80px;
        height: 100%;
    }
    .product_list .main_img h6 {
        font-size: 13px;
        font-weight: 500;
    }
    .product_list h6 {
        font-size: 14px;
        font-weight: 600;
    }
    .product_list .category_2 {
        display: block;
    }
    .add_product_color {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 435px) {
    .hero_heading {
        font-size: 26px;
    }
    .product_card h3 {
        font-size: 13px;
    }
    .product_card .price {
        display: none;
    }
    .product_card .rating {
        margin-top: 0px;
    }
    .products {
        grid-gap: 14px;
    }
    .blogs{
        gap: 14px;
    }
    .blogs img {
        height: 100%;
    }
    .categories {
        grid-gap: 14px;
    }
}

@media screen and (max-width: 400px) {
    .contact {
        gap: 16px;
    }
}

@media screen and (max-width: 376px) {
    .logo {
        font-size: 22px;
    }
    .header_icons {
        gap: 8px;
    }
    .filter_main_parent {
        margin-top: 26px;
    }
    .filter{
        display: flex;
        flex-direction: column; gap: 12px;
        padding: 20px;
        width: fit-content;
        margin: 0px auto 20px auto;
    }
    .filter button {
        width: 100%;
        justify-content: space-between;
    }
    .add_product_sizes {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width: 357px) {
    .blog_card_title {
        font-size: 12px;
    }
    .blog_card_content {
        font-size: 11.8px
    }
    .add_product_color {
        width: 100%;
    }
    .add_product_color .colors span{
        display: none
    }
    .add_product_sizes {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@import "tailwindcss";